%div
  %h3= @blog.title
  = link_to "Back", admin_blog_comments_path(@blog), class: "btn btn-primary", style: "float:right;margin-top:-41px;"
%hr

.container-fluid
  .row
    .col-lg-12
      %h4 Comment
      %div
        %label Commentor Name:
        %p= @comment.name
      %div
        %label Content:
        %p= @comment.desc         
      %div
        %label Created At:
        %p= @comment.created_at.strftime("%d %b, %Y %H:%M")   
        
= link_to "Edit", edit_admin_blog_comment_path(@blog, @comment), class: "btn btn-default"
