= content_for(:heading, @blog.title)
= content_for(:sub_heading, "Posted #{time_ago_in_words(@blog.created_at)} ago")
= content_for(:views, "Page Views: #{@blog.views}")

%article
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .blog-content
          = @blog.content.html_safe
        %br
        - if @blog.tags.present?
          .tags
            %h5 Tags:
            %hr
            - @blog.tags.each do |tag|
              = link_to tag, blogs_path(tag: tag), class: "btn", style: "color:#fff;padding: 6px 25px;background:grey;"
        
    %br            
    .row.comments
      = render "comments", blog: @blog, comment: @comment

%a.backtohome{:href => "/"}
  %i.fa.fa-angle-up
  << Back to Home 

 
.likemenu
  = render 'likemenu', blog: @blog

