.container
  .card.card-container
    = image_tag("kishore.png", id: "profile-img", class: "profile-img-card")
    %p#profile-name.profile-name-card
      Hey Kishore..
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f|
      %span#reauth-email.reauth-email
        = flash[:alert]
      = f.email_field :email, autofocus: true, placeholder: "Email address", class: "form-control", id: "inputEmail", required: true
      = f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control", id: "inputPassword", required: true
      #remember.checkbox
        %label
          %input{:type => "checkbox", :value => "remember-me"}/
          Remember me
      = f.submit "Sign in", class: "btn btn-lg btn-primary btn-block btn-signin"
    %a.forgot-password{:href => new_password_path(resource_name)}
      Forgot the password?
      
= render 'users/shared/style'
