%nav.navbar.navbar-default.navbar-custom.navbar-fixed-top
  .container-fluid
    .navbar-header.page-scroll
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        Menu
        %i.fa.fa-bars
      %a.navbar-brand{:href => "/"} TechBlog
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "/"} Home
        %li
          %a{:href => about_me_path("kishore")} About Me
        %li
          %a{:href => contact_me_path} Contact


%header.intro-header{class: "#{controller_name}_#{action_name}"}
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .site-heading
          %h1= yield(:heading)
          %hr.small/
          %span.subheading= yield(:sub_heading)
          %span.views= yield(:views)
          - if action_name == "show"
            .div{style: "padding-top:20px;"}
              .fb-share-button{"data-href" => "#{request.fullpath}", "data-layout" => "button_count", "data-mobile-iframe" => "true", "data-size" => "large"}
                %a.fb-xfbml-parse-ignore{:href => "https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Ftechblog-kishore.com%2Fblogs%2F58ba35927ccf2f3486d0dcb1&src=sdkpreparse", :target => "_blank"} Share
