= content_for(:heading, "About Me")
= content_for(:sub_heading, "This is what I do.")

%article
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        %h1 
          I do web application development and web designing as per the entrepreneurs requirements.
        
        %br
        %h4
          Hi, I’m Venkata Kishore M. I’m the MD (Master Developer) here at techblog-kishore.com.

        %br
        
        %h5 I provide following services:    
        %div
          %h4 
            <> Web Application Development
          %h4 
            <> Responsive Web Designing
          %h4 
            <> App Deployment
          %h4 
            <> Application Support
          %h4 
            <> Web Services for IOS, Android apps
          %h4 
            <> Ruby on Rails Training


        %br
        
        %h5 Get in touch
        .contacts
          = link_to image_tag("fb.ico", height: "60"), "https://www.facebook.com/venkatchowdary.mandadapu", target: "_blank"
          = link_to image_tag("linkedin.png", height: "50"), "https://in.linkedin.com/in/kishore-venkat-57380a54", target: "_blank"
          %p
            Mobile: +91 9951953182
          %p
            Skype:  kishore.ror


        %br
        %br
        
        %h5 I work on following technologies:    
        %ul.imgs
          %li= image_tag("tech/ajax.jpg")
          %li= image_tag("tech/AngJs.png")
          %li= image_tag("tech/aws.png")
          %li= image_tag("tech/bootstrap-logo.png")
          %li= image_tag("tech/CSS.png")
          %li= image_tag("tech/git.jpg")
          %li= image_tag("tech/haml.png")
        %ul.imgs
          %li= image_tag("tech/heroku.png")
          %li= image_tag("tech/html5.png")
          %li= image_tag("tech/jquery.png")
          %li= image_tag("tech/js.png")
          %li= image_tag("tech/json.jpg")
          %li= image_tag("tech/MongoDB.png")
        %ul.imgs
          %li= image_tag("tech/mysql.png")
          %li= image_tag("tech/postgresql.png")
          %li= image_tag("tech/ruby.jpg")
          %li= image_tag("tech/rails.png")
          %li= image_tag("tech/xml.png")
