.container-fluid
  .row
    .col-lg-12
      %div
        %h2 Blogs
        = link_to "<span class='glyphicon glyphicon-plus' aria-hidden='true' style='font-weight:bold;font-size:21px;'></span> New".html_safe, new_admin_blog_path, class: "btn btn-success", style: "float:right;margin-top:-41px;"
      %hr
      %table.table.table-hover
        %thead
          %tr
            %th Title
            %th Created At
            %th Comments
            %th Views
            %th Likes/Dislikes
            %th
        %tbody
          - @blogs.each do |post|
            %tr
              %td= link_to post.title, admin_blog_path(post)
              %td
                = time_ago_in_words(post.created_at) 
                ago
              %td= link_to post.comments.count, admin_blog_comments_path(post) rescue 0
              %td= post.views
              %td
                #{post.likes}&nbsp;/&nbsp;#{post.dislikes}
              %td
                = link_to "Edit", edit_admin_blog_path(post), class: "btn btn-default"
                = link_to "Remove", admin_blog_path(post), method: :delete, class: "btn btn-danger" 
                
                
      = will_paginate @blogs   
